<% if !@cuisines.nil? %>
<table class = 'table'>
	<th><%= t('.name')%></th>
	<th><%= t('.description')%></th>
<% @cuisines.each do |cuisine| %>
	<tr>
		<td><%= cuisine.name%></td>
		<td><%= cuisine.description%></td>
		<td><%= link_to t('.updatecuisine'), edit_cuisine_path(cuisine.id) %></td>
		<td><%= link_to t('.removecuisine'), cuisine, method: :delete, 
				data: { confirm: 'Are you sure?' }  %></td>
	</tr>
<% end %>
</table>
<% else %>
	<%= t('.nocuisine')%>
<% end%>

<%= link_to t('.createcuisine'), new_cuisine_path %>