<div class="container" style="max-width: 750px;">
  <div class="row" style="margin-top: 30px; background-color: #fff; padding: 20px;">
    <div class="col-md-3">
      <%= image_tag('sisig.jpg', class: 'img-circle', style: 'width: 140px; height: 140px;') %>
    </div>
    <div class="col-md-9">
      <h3><%= @user.name %> <small> @<%= @user.username %></small></h3>
      <p><%= icon('envelope', @user.email) %></p>
      <p><%= link_to "#{icon('pencil-square-o')} #{t('editprofile')}".html_safe, edit_user_registration_path %></p>
    </div>
  </div>
  
  <div class="row" style="margin-top: 20px; background-color: #fff; padding: 20px; margin-bottom: 60px;">
    <h3><%= t('.yourreviews')%></h3>
    <p><%= t('.noreviews')%></p>
  </div>
</div>