<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= t('.addsched')%></h4>
</div>
<div class="modal-body">
  <div id="sched_alert_area">
  </div>
  <%= form_for(@schedule, url: schedules_path(resto_id: @schedule.restaurant), remote: true) do |f| %>
  
    <div class="form-group">
      <%= f.label t('.availableday') %><br/>
      <%= f.select :day, options_for_select(@days), {prompt: t('.selectday')}, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.label t('.opening') %>
      
      <div class='input-group timepicker'>
          <%= f.text_field :opening, class: 'form-control', required: true %>
          <span class="input-group-addon">
            <%= icon('clock-o') %>
          </span>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('.closing') %>
      
      <div class='input-group timepicker'>
          <%= f.text_field :closing, class: 'form-control', required: true %>
          <span class="input-group-addon">
            <%= icon('clock-o')%>
          </span>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit t('.submitsched'), class: 'btn btn-primary', style: 'width: 100%;' %>
    </div>
  
  <% end %>
</div>

