
<% unless @schedules.empty? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="background-color: #404040;">
            <th><%= t('.availableday')%></th>
            <th><%= t('.opening')%></th>
            <th><%= t('.closing')%></th>
            <th><%= t('.actions')%></th>
          </tr>
        </thead>
        <tbody>
          <% @schedules.each do |sched| %>
            <tr>
              <td><%= sched.day %></td>
              <td><%= sched.opening %></td>
              <td><%= sched.closing %></td>
              <td style="width: 150px;"><%= link_to t('.edit'), edit_schedule_path(sched.id), class: 'btn btn-primary outline', remote: true,  data: { toggle: 'modal', target: '#myModal'} %> <%= link_to t('.delete'), schedule_path(sched.id), class: 'btn btn-danger', method: :delete, data: { confirm: t('.confirm') }, remote: true%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% else %>
<%= t('.nosched')%>
  <% end %>