<div class="bg" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path('wall6.jpeg')%>') no-repeat center center;"></div>
<div class="bg" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path('wall11.jpeg')%>') no-repeat center center;"></div>
<div class="bg" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path('wall12.jpeg')%>') no-repeat center center;"></div>
<div class="bg" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path('wall2.jpeg')%>') no-repeat center center;"></div>
<div class="bg" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path('wall5.jpeg')%>') no-repeat center center;"></div>
<div class="bg" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= asset_path('wall7.jpeg')%>') no-repeat center center;"></div>
<div id="padded_container" class="container search_container">
  <div class="jumbotron jumbotron_search" style="padding: 100px 25px 0 25px; margin-bottom: -50px;">
    <h1 class="text-center" style="font-weight: 700; font-family: 'Lobster', cursive; font-size: 100px;">Fudz Finder</h1>
    <p class="text-center">find fud for your appetite</p>

    <div style='text-align: center;'>
      <%= form_tag(restaurant_search_path, method: :get, id: 'search_form') do %>
        <div class="input-group">
          <%= text_field_tag :searchQuery, nil, class: "form-control search_field", placeholder: t('.placesearch'), id: 'search_field', required: true, style: 'height: 40px;' %>
          <span class="input-group-btn">
            <%= submit_tag t('.search'), class: "btn btn-default", style: 'height: 40px; background-color: #CF2228; color: #fff; border: 2px solid #CF2228;'%>
          </span>
        </div>
      <% end %>
        <div class="row search" style="margin-top: 10px;">
          <div class="col-md-12">
            <div class="dropdown">
              <%= link_to "#{t('.searchtools')}#{icon('caret-down', style: 'margin-left: 10px;')}".html_safe, nil, class: 'dropdown-toggle', data: { toggle: 'dropdown'} %>
              <ul class="dropdown-menu" style="width: 100%; color: #000; text-shadow: none;">
                <% unless Food.all.empty? %>
                  <%= form_tag(restaurant_search_path, method: :get, style: 'padding: 20px;', id: 'filter_search_form') do %>
                    <div class="form-group">
                      <%= select_tag :location, options_from_collection_for_select(Location.where(restaurant_id: nil),"id","address"), prompt: 'Select a Place', class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= select_tag :cuisine, options_from_collection_for_select(Cuisine.all,"id","name"), prompt: 'Select a Cuisine', class: 'form-control' %>
                    </div>
                    <%= t('.filterprice')%>
                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <b><%= t('.currency')%> <%= Food.min %></b>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <input id="price_slider" name= "price_range" type="text" class="span2" value="" data-slider-min="<%= Food.min %>" data-slider-max="<%= Food.max %>" data-slider-step="5" data-slider-value="[<%= Food.min %>,<%= Food.max %>]"/>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <b class="pull-right"><%= t('.currency')%> <%= Food.max %></b>
                      </div>
                    </div>

                    <%= hidden_field_tag :searchQuery, '', id: 'filter_search_field' %>
                    <div class="actions" style="margin-top: 20px;">
                      <%= submit_tag t('.search'), class: 'btn btn-default', style: 'width: 100%;', id: 'filter_search_button'%>
                    </div>
                  <% end %>
                <% else %>
                  <h4 class="text-center" style='padding: 20px;'><%= t('.nodishes')%></h4>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>
