<div class="container search_container">
  <div class="jumbotron" style="margin-top: 0px; background-color: whitesmoke;">
    
    <h1 class="text-center">Fudz Finder</h1>
    <p class="text-center" style="color: #9c9c9c;"><%= t('.caption')%></p>
    <div style='text-align: center;'>
      <%= form_tag(restaurant_search_path, method: :get, id: 'search_form') do %>
        <div class="input-group" style="">
          <%= text_field_tag :searchQuery, nil, class: "form-control", placeholder: t('.placeholder'), id: 'search_field', required: true %>    
          <span class="input-group-btn">
            <%= submit_tag t('.go'), class: "btn btn-default"%>
                <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      
      <% end %>
        <div class="row search" style="margin-top: 10px;">
          <div class="col-md-12">
            <div class="dropdown">
              <%= link_to "Search tools#{icon('caret-down', style: 'margin-left: 10px;')}".html_safe, nil, class: 'dropdown-toggle', data: { toggle: 'dropdown'} %>
              <ul class="dropdown-menu" style="width: 100%;">
                <% unless Food.all.empty? %>
                  <%= form_tag(restaurant_search_path, method: :get, style: 'padding: 20px;', id: 'filter_search_form') do %>
                    <div class="form-group">
                      <%= select_tag :cuisine, options_from_collection_for_select(Cuisine.all,"id","name"), prompt: 'Select a Cuisine', class: 'form-control' %>
                    </div>
                    Filter by price range:
                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <b>PHP <%= Food.min %></b> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <input id="price_slider" name= "price_range" type="text" class="span2" value="" data-slider-min="<%= Food.min %>" data-slider-max="<%= Food.max %>" data-slider-step="5" data-slider-value="[<%= Food.min %>,<%= Food.max %>]"/> 
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <b class="pull-right">PHP <%= Food.max %></b>
                      </div>
                    </div>


                    <%= hidden_field_tag :searchQuery, '', id: 'filter_search_field' %>
                    <div class="actions" style="margin-top: 20px;">
                      <%= submit_tag 'Search', class: 'btn btn-default', style: 'width: 100%;', id: 'filter_search_button'%>
                    </div>
                  <% end %>
                <% else %>
                  <h4 class="text-center" style='padding: 20px;'>No available dishes/restaurants yet.</h4>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<nav id="main-nav" class="navbar navbar-default" style="margin-bottom: 0px; background-color: #fff;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#restaurants"><%= t('.restaurants')%></a></li>
        <li><a href="#cuisines"><%= t('.cuisines')%></a></li>
        <li><a href="#reviews"><%= t('.reviews')%></a></li>
        <li><a href="#make_a_resto"><%= t('.makeresto')%></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="restaurants" class="container" style="margin-top: 20px;">
  <h3><%= t('.topresto')%></h3>
  <ul class="list-group">
  <% unless @restaurants.empty? %>
      <% @restaurants.each do |resto| %>
        <li class="list-group-item" style="margin-bottom: 10px; height: 175px; padding: 0px;">
          <div class="row" style="width: 100%;">
            <div class="col-md-3 col-sm-5 col-xs-5">
              <div class="clearfix" style="background-image: url('<%= resto.avatar.url %>'); background-repeat: repeat; height: 173px; width: 96%; background-size: 100% 100%;"></div>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-7" style="padding: 20px;">
              <div class="pull-left">
                <h3 class="list-group-item-heading"><%= link_to resto.name, resto %></h3>
                <p class="list-group-item-text"><%= resto.description %></p>
                <p class="list-group-item-text" style="margin-top: 20px;"><%= icon('map-marker', resto.address, style: 'margin-right: 12px;') %></p>
                <p class="list-group-item-text" style="margin-top: 10px;"><%= icon('phone', resto.contact, style: 'margin-right: 10px;') %></p>
              </div>
              <div class="pull-right" style="margin-right: 10px;">
                <span style="padding: 7px; font-size: 20px; border-radius: 0; background-color: #333333;" class="label label-default"><%= resto.ave_ratings %></span>
              </div>

            </div>
          </div>
        </li>
      <% end %>
  <% else %>
    <li class="list-group-item" style="margin-bottom: 10px; height: 175px; padding: 0px;">
      <h3 class="text-center" style="padding-top: 50px">No Restaurants available yet</h3>
    </li>
  <% end %>
  </ul>
  
</div>









