<div id="reviews" class="container">
  <h3><%= t('.recentreviews')%><br><small>View recent reviews by our users</small></h3>
  <% unless @ratings.empty? %>
    <div class="row">
      <% @ratings.each do |rate| %>
        <div class="col-md-6">
          <div class="panel panel-default" style="border-radius: 0px;">
            <div class="panel-body">
              <div class="media" style="padding: 10px; border-bottom: 1px solid #ccc; margin-bottom: 10px;">
                <div class="media-left" style="padding: 0 25px 10px 10px;">
                  <%= image_tag(display_resto(rate.restaurant), width: 64, height: 64, class: 'img-circle') %>
                </div>
                <div class="media-body" style="">
                  <h4 class="media-heading">
                    <%= link_to rate.restaurant.name, restaurant_path(rate.restaurant) %> 
                    <small>
                      <% rate.rate.times do %>
                        <%= icon('star')%>
                      <% end %>
                      <% (5-rate.rate).times do %>
                        <%= icon('star-o')%>
                      <% end %>
                    </small>
                  </h4>
                  <p style=" height: 50px;"><b style="font-size: 15px;"><%= rate.user.name %></b>: <%= truncate(rate.comment, length: 190) %></p>
                  <p><%= distance_of_time_in_words_to_now(rate.created_at) %> ago</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <ul class="list-group">
      <li class="list-group-item" style="margin-bottom: 10px; height: 175px; padding: 0px;">
        <h3 class="text-center" style="padding-top: 50px">No Reviews yet.</h3>
      </li>
    </ul>
  <% end %>
</div>
  
    
    
    
    
    
    
<!--
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          review here
        </div>
      </div>
    </div>
    
    
    
    
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          review here
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          review here
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          review here
        </div>
      </div>
    </div>
  </div>
</div>-->
