<div class="container-fluid" style="margin-top: 0; background-color: #fff;"> 
  <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="col-md-3">
      <div class="list-group">
        <%= link_to 'Dashboard', nil, class: 'list-group-item' %>
        <%= link_to 'Restaurants', nil, class: 'list-group-item' %>
        <%= link_to 'Comments', nil, class: 'list-group-item' %>
        <%= link_to 'Ratings', nil, class: 'list-group-item' %>
        <%= link_to 'Settings', nil, class: 'list-group-item' %>
      </div>
    </div>
    <div class="col-md-9" style="">
      <div class="jumbotron"> 
        <div align="center">
          <h1>Fudz Dashboard</h1>
          <h3>Welcome to Fudz Dashboard</h3>
        </div>
      </div>
      <div id="dashboard-actions" align="center">
        <button class="btn btn-default">Action 1</button>
        <button class="btn btn-default">Action 2</button>
        <button class="btn btn-default">Action 3</button>
      </div>
    </div>
  </div>
  
</div>