<div class="container-fluid" style="margin-top: 0; background-color: #fff;"> 
  <div class="row" style="padding: 0px;">
    <div class="col-md-3" style="padding: 0px;">
      <div class="list-group">
        <%= link_to 'Dashboard', nil, class: 'list-group-item' %>
        <%= link_to 'Restaurants', nil, class: 'list-group-item' %>
        <%= link_to 'Comments', nil, class: 'list-group-item' %>
        <%= link_to 'Ratings', nil, class: 'list-group-item' %>
        <%= link_to 'Settings', nil, class: 'list-group-item' %>
      </div>
    </div>
    <div class="col-md-9" style="padding: 0px;">
      <div class="container">
       dashboard
      </div> 
    </div>
  </div>
  
</div>