<ul id="user-tabs" class="nav nav-tabs" role="tablist" style="margin-bottom: 10px;">
  <li role="presentation" class="active"><a data-target="#edit_info" aria-controls="edit_info" role="tab" data-toggle="tab">Edit Information</a></li>
  <li role="presentation" class=""><a data-target="#announcement" aria-controls="announcement" role="tab" data-toggle="tab">Announcements / Posts</a></li>
  <li role="presentation" class=""><a data-target="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedules</a></li>
  <li role="presentation" class=""><a data-target="#dish" aria-controls="dish" role="tab" data-toggle="tab">Dishes / Foods</a></li>
  <li role="presentation" class=""><a data-target="#review" aria-controls="review" role="tab" data-toggle="tab">Reviews</a></li>
  <li role="presentation" class=""><a data-target="#photo" aria-controls="photo" role="tab" data-toggle="tab">Photos</a></li>
  <li role="presentation" class=""><a data-target="#unhappy" aria-controls="unhappy" role="tab" data-toggle="tab">Unhappy?</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="edit_info">
    <div id="coverphoto" style="width: 100%; background-size: 100%; padding-top: 20px; margin-bottom: 50px; background-repeat: no-repeat; height: 500px;background-position: center; background-image: url('<%= asset_path(display_cover(@restaurant)) %>')">
      <%= image_tag(display_resto(@restaurant), class: 'img-responsive img-circle center-block', style: 'width: 225px; height: 225px; border: 5px solid white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);')%>

      <div class="center-block" style="max-width: 300px; background-color: rgba(0,0,0,0.5); color: #fff; padding: 0px 20px 30px 20px; border-radius: 25px; border: 2px solid black; margin-top: 25px;">
        <h2 style="padding-top: 15px;" class="text-center"><%= @restaurant.name %></h2>
      </div>
    </div>

    <div style="width: 100%;">
      <h4 style="color: #6b6b6b; border-bottom: 1px solid #a1a1a1; padding-bottom: 15px;">Edit Information</h4>
    </div>
    <div style="margin-bottom: 50px;">
      <%= form_for(@restaurant, url: restaurant_path, method: :put) do |f| %>
        <% if @restaurant.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
              <% @restaurant.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :name, t('.name') %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('.contact') %>
              <%= f.text_field :contact, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label "Restaurant Picture" %>
              <%= f.file_field :avatar %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_area :address, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :website%>
              <%= f.text_field :website, class: 'form-control'%>
            </div>
            <div class="form-group">
              <%= f.label "Cover Photo" %>
              <%= f.file_field :cover %>
            </div>
          </div>
          <div class="col-md-12">
            <h4><%= @restaurant.location.present? ? "Edit Map Location" : "Set up your location <small>(so that users can easily find your restaurant)</small>".html_safe %></h4>
            <div id="map" style="height: 250px; margin-bottom: 10px;"></div>
            <script>

              var map;
              var marker;

              function initMap() {
                var init_location = {lat: <%= (@restaurant.location.present? ? @restaurant.location.latitude : "14.598451648903144") %>, lng: <%= (@restaurant.location.present? ? @restaurant.location.longitude : "120.98510786890984" ) %>};

                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 14,
                  center: init_location,
                  scrollwheel: false
                });
                map.addListener('click', function(event) {
                  marker.setPosition(event.latLng);
                  console.log(marker.getPosition().lat())
                  console.log(marker.getPosition().lng())
                  $("#latitude").val(marker.getPosition().lat())
                  $("#longitude").val(marker.getPosition().lng())
                });
                addMarker(init_location);
              }
              function addMarker(location) {
                marker = new google.maps.Marker({
                  position: location,
                  map: map
                });
              }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmeU6jS4Tk8t3OudUKIn7XtciDfe9CbZY&callback=initMap">
            </script>
          </div>
          <%= hidden_field_tag :latitude, value: (@restaurant.location.present? ? @restaurant.location.latitude : nil) %>
          <%= hidden_field_tag :longitude, value: (@restaurant.location.present? ? @restaurant.location.longitude : nil) %>
          <div class="col-md-12">
            <%= f.submit t('.updateresto'), class: 'btn btn-primary center-block outline' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="announcement">
    <div class="clearfix" style="width: 100%; border-bottom: 1px solid #a1a1a1; margin-top: 15px; margin-bottom: 15px">
      <h4 class="pull-left" style="color: #6b6b6b;">Announcements / Posts</h4>
      <%= link_to "#{icon('plus', "Add Posts", style: 'margin-right: 10px;')}".html_safe, new_post_path(resto_id: @restaurant.id), class: 'btn btn-default pull-right', remote: true, data: { toggle: 'modal', target: '#myModal'} %>
    </div>

    <div id="post_area">
      <%= render 'posts/post'%>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="schedule">
    <div class="clearfix" style="width: 100%; border-bottom: 1px solid #a1a1a1; margin-top: 15px; margin-bottom: 15px">
      <h4 class="pull-left" style="color: #6b6b6b;">Schedules</h4>
      <%= link_to "#{icon('plus', "Add Schedule", style: 'margin-right: 10px;')}".html_safe, new_schedule_path(resto_id: @restaurant.id), class: 'time btn btn-default pull-right', remote: true, data: { toggle: 'modal', target: '#myModal'} %>
    </div>

    <div id="sched_area">
      <%= render 'schedules/schedule' %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="dish">
    <div class="clearfix" style="width: 100%; border-bottom: 1px solid #a1a1a1; margin-top: 15px; margin-bottom: 15px">
      <h4 class="pull-left" style="color: #6b6b6b;"><%= t('.dishes')%></h4>
      <%= link_to "#{icon('plus', t('.adddish'), style: 'margin-right: 10px;')}".html_safe, new_food_path(resto_id: @restaurant.id), class: 'btn btn-default pull-right', remote: true, data: { toggle: 'modal', target: '#myModal'} %>
    </div>

    <div id="food_area">
      <%= render 'foods/food' %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="review">
    <div style="width: 100%;">
      <h4 style="color: #6b6b6b; border-bottom: 1px solid #a1a1a1; padding-bottom: 15px;">Reviews</h4>
    </div>
    <div>
      <% unless @ratings.empty? %>
        <div class="table-responsive">
          <table class="table table-bordered"> 
            <thead>
              <tr style="background-color: #404040;">
                <th>#</th>
                <th style="width: 85px;">Name</th>
                <th>Rate</th>
                <th>Comment</th>
                <th style="width: 100px;">Date</th>
              </tr>
            </thead>
            <tbody>
              <% @ratings.each_with_index do |rate, index| %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= link_to rate.user.name, user_path(rate.user) %></td>
                  <td><%= rate.rate %></td>
                  <td><%= rate.comment %></td>
                  <td><%= rate.created_at.strftime("%B %d, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        No ratings.
      <% end %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="photo"> 
    <div style="width: 100%;">
      <div class="clearfix" style="border-bottom: 1px solid #a1a1a1; margin-bottom: 15px;">
        <h4 class="pull-left" style="color: #6b6b6b">Photos</h4>
        <div class="fileUpload btn btn-default pull-right">
          <span><%= icon('plus', 'Add Photos')%></span>
          <%= form_for(@picture) do |f| %> 
            <%= f.file_field :pic, class: 'upload', style: 'height: 150px', accept: 'image/png,image/gif,image/jpeg'  %>
            <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
          <% end %>
        </div>
      </div>  
      <div class="row pic-row" style = 'padding-left: 20px;'>
        
        <% unless @pictures.empty? %>
          <% @pictures.where(status: true).each do |picture| %>
             <%= link_to picture_path(picture), remote: true, data: { toggle: 'modal', target: '#myModal' } do %>
              <div class="col-md-3 col-sm-4 col-xs-12 img-responsive" style = 'background-image: url(<%= picture.pic.url %>); background-repeat: no-repeat; background-size: cover; background-position: center; border: 4px solid #fff; border-radius: 15px;'>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p style="margin-left: -5px;">No Photos.</p>
        <% end %>
      </div>
    </div>
    <div style="width: 100%;">
      <h4 style="color: #6b6b6b; border-bottom: 1px solid #a1a1a1; padding-bottom: 15px;">Pending Photos</h4>
    </div>

    <% unless @restaurant.pictures.where(status: false).empty? %>
      <div class="row thumbnail_panel pending_pic">
        <% @restaurant.pictures.where(status: false).each do |picture| %>
          <div class="col-md-4">
            <div class="thumbnail text-center" style=" padding: 0px; border: 0; border-radius: 0px;">
              <%= image_tag(picture.pic.url, style: 'height: 220px; padding: 0px;', class: 'img-responsive') %>
              <div class="caption">
                <div class="row">
                  <div class="col-md-6">
                    <p>Uploader: </p>
                    <p>Upload Date: </p>
                  </div>
                  <div class="col-md-6">
                    <p><%= picture.user.username %></p>
                    <p><%= picture.created_at.strftime("%B %d, %Y") %></p>
                  </div>
                </div>
              </div>
              <div class="panel-footer" style="background-color: #fff; border-radius: 0px;">
                <div class="row">
                  <div class="col-md-6">
                    <%= button_to 'Accept', picture_path(picture.id, picture: { status: true }), class: 'btn btn-success', style: 'width: 100%;', method: :put%>
                  </div>
                  <div class="col-md-6">
                    <%= button_to 'Reject', picture_path(picture), class: 'btn btn-danger', style: 'width: 100%;', method: :delete%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      No Pending Pictures
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade in" id="unhappy">
    <div style="width: 100%;">
      <h4 style="color: #6b6b6b; border-bottom: 1px solid #a1a1a1; padding-bottom: 15px;">Not Happy?</h4>
      <%= button_to "Delete Restaurant", restaurant_path(@restaurant), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure? This will delete your restaurant and all of its data.' }%>
    </div>
  </div>  
</div>





  
