<div style="width: 100%;">
  <h4 style="color: #6b6b6b; border-bottom: 1px solid #a1a1a1; padding-bottom: 15px;">Cover Photo</h4>
</div>

<div id="coverphoto" style="margin-bottom: 50px;">
  <div class="center-block" style="width: 750px; height: 300px; border: 1px solid black; margin-bottom: 10px;">
  </div>
  
  <%= link_to "Change Cover Photo", nil, class: 'btn btn-primary center-block', style: 'width: 300px;'%>
</div>

<div style="width: 100%;">
  <h4 style="color: #6b6b6b; border-bottom: 1px solid #a1a1a1; padding-bottom: 15px;"><%= @restaurant.name %> <small>(Edit Information)</small></h4>
</div>
<div style="margin-bottom: 50px;">
  <%= form_for(@restaurant, url: restaurant_path(path: 'dashboard'), method: :put) do |f| %>
    <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :address %>
          <%= f.text_area :address, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label "Contact number" %>
          <%= f.text_field :contact, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Price Range" %> <small>(Min to Max)</small>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :low_price_range, class: 'form-control', placeholder: 'Min' %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :high_price_range, class: 'form-control', placeholder: 'Max' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Embed Map" %>
          <%= f.text_area :map, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.submit 'Update Resto', class: 'btn btn-primary center-block', style: 'width: 100%; height: 40px;' %>
      </div>
    </div>
    
  <% end %>
</div>

<div class="clearfix" style="width: 100%; border-bottom: 1px solid #a1a1a1; margin-top: 15px; margin-bottom: 15px">
  <h4 class="pull-left" style="color: #6b6b6b;">Dishes</h4>
  <%= link_to "#{icon('plus', 'Add Dish', style: 'margin-right: 10px;')}".html_safe, new_food_path(resto_id: @restaurant.id), class: 'btn btn-default pull-right', remote: true, data: { toggle: 'modal', target: '#myModal'} %>
</div>

<div style="">
  <% unless @foods.empty? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr style="background-color: #404040;">
            <th>#</th>
            <th>Dish</th>
            <th>Description</th>
            <th>Cuisine</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each_with_index do |food, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= food.name %></td>
              <td><%= food.description %></td>
              <td><%= food.cuisine.name %></td>
              <td>P <%= food.price %></td>
              <td style="width: 150px;"><%= link_to "Edit", edit_food_path(food.id), class: 'btn btn-warning', remote: true,  data: { toggle: 'modal', target: '#myModal'} %> <%= link_to "Delete", nil, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    No Dishes yet. Please add some.
  <% end %>
</div>

<footer style="height: 300px; margin-top: 30px;">

</footer>




















