<div style="width: 100%;">
  <h4 style="color: #6b6b6b; border-bottom: 1px solid #a1a1a1; padding-bottom: 15px;">Create New Restaurant</h4>
</div>
<div style="margin-bottom: 50px;">
  <%= form_for(@restaurant, url: restaurants_path(path: 'dashboard')) do |f| %>
    <% if @restaurant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :address %>
          <%= f.text_area :address, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label "Contact number" %>
          <%= f.text_area :contact, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label "Price Range" %> <small>(Min to Max)</small>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :low_price_range, class: 'form-control', placeholder: 'Min' %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :high_price_range, class: 'form-control', placeholder: 'Max' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Embed Map" %>
          <%= f.text_area :map, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.submit 'Register Resto', class: 'btn btn-primary center-block', style: 'width: 100%; height: 40px;' %>
      </div>
    </div>
    
  <% end %>
</div>