
  
  <div class="clearfix" style="width: 100%; border-bottom: 1px solid #a1a1a1; margin-top: 15px; margin-bottom: 15px">
    <h4 class="pull-left" style="color: #6b6b6b;"><%= t('.myrestaurants')%></h4>
  </div>

  <div class="row thumbnail_panel">
    <% @restaurants.each do |resto| %>
      <div class="col-md-4 col-sm-6 col-xs-12 hvr-bob" style="padding: 20px;">
        <%= link_to(owner_resto_edit_path(resto)) do %>
          <div class="thumbnail text-center" style=" padding: 0px; border: 0; border-radius: 0px;">
            <div style = 'background-image: url(<%= asset_path(display_resto(resto)) %>); background-repeat: no-repeat; background-size: cover; background-position: center; min-height: 200px;'></div>
            
            <div class="caption">
              <% if resto.status == 'Pending' %>
                <p><span class="label label-warning"><%= resto.status %></span></p>
              <% elsif resto.status == 'Accepted' %>
                <p><span class="label label-success"><%= resto.status %></span></p>
              <% else %>
                <p><span class="label label-danger"><%= resto.status %></span></p>
              <% end %>
              <h3><%= resto.name %></h3>
              <p>
               <% unless resto.ave_ratings == 0 %>
                 <% if resto.ave_ratings%1 == 0 %>
                   <% resto.ave_ratings.to_i.times do %>
                     <%= icon('star')%>
                   <% end %>
                 <% else %>
                   <% (resto.ave_ratings.to_i).times do %>
                     <%= icon('star')%>
                   <% end %>
                   <%= icon('star-half')%>
                 <% end %>
               <% else %>
                 <% 5.times do %>
                   <%= icon('star-o') %>
                 <% end %>
               <% end %>
              </p>
              <p>&nbsp;</p>
            </div>
            <div class="panel-footer" style="background-color: #333; height: 80px; padding: 5px; border-radius: 0px;">
              <div class="row" style="padding: 5px 20px 5px 20px;">
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <p style="font-size: 25px; margin: 0px;"><b><%= resto.ratings.count %></b></p>
                  <p style="margin: 0px; color: #717171;"><%= t('.ratings')%></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <p style="font-size: 25px; margin: 0px;"><b><%= resto.pictures.where(status: true).count %></b></p>
                  <p style="margin: 0px; color: #717171;"><%= t('.photos')%></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <p style="font-size: 25px; margin: 0px;"><b><%= resto.pictures.where(status: false).count %></b></p>
                  <p style="margin: 0px; color: #717171;"><%= t('.new')%></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="col-md-4 col-sm-6 col-xs-12 hvr-bob" style="padding: 20px;">
        <%= link_to(owner_resto_new_path) do %>
          <div class="thumbnail text-center" style=" padding: 0px; border: 0; border-radius: 0px; height: 434px;">
            <div style = 'background-image: url(<%= asset_path("plus.png") %>); background-repeat: no-repeat; background-size: contain; background-position: center; min-height: 200px;'></div>
            <div class="caption">
              <p><span class="label label-success"><%= t('.new')%></span></p>
              <h3><%= t('.addrestaurant')%></h3>
            </div>
          </div>
        <% end %>
      </div>
  </div>
