<% unless @restaurant.ratings.empty? %>
  <% (@more_reviews == 'true' ? @restaurant.ratings.order(created_at: :desc) : @restaurant.ratings.order(created_at: :desc).limit(5)).each do |rate| %>
    <div class="media">
      <div class="media-left">
        <div class="img-circle" style="width: 44px; height: 44px; background: url('<%= asset_path(display_user(rate.user))%>'); background-size: cover; background-position: center; "></div>
      </div>
      <div class="media-body" style="max-width: 575px;">
        <h4 class="media-heading">
          <%= link_to rate.user.name, rate.user %> 
          <small>
            - <%= distance_of_time_in_words_to_now(rate.created_at) %> ago
            <% if current_user === rate.user %> 
              <%= link_to "#{icon('pencil', nil, style: 'margin-left: 20px;')}".html_safe, edit_rating_path(rate), remote: true, data: { toggle: 'modal', target: '#myModal'} %>
            <% end %>
          </small>  
        </h4>
        <p style="color: #bbb;"><small><%= pluralize(rate.user.ratings.count, "Review") %></small></p>
        <p><%= t('.rated')%> <span class="badge" style="margin-top: -3px; padding: 2px 4px; background-color: #CF2228;"><%= rate.rate %></span>&nbsp;&nbsp; <%= rate.comment %></p>
        <% if user_signed_in? %>
          <p>
            <% if rate.user_liked?(current_user) %>
              <%= link_to "#{t('.unlike')} #{icon('heart-o', pluralize(rate.likes.count, t('.like')))}".html_safe, delete_like_path(user: current_user.id, rating: rate.id, review: @more_reviews), class: 'btn btn-like-comment', method: :delete, remote: true %> 
            <% else %>
              <%= link_to "#{icon('heart-o', pluralize(rate.likes.count, t('.like')))}".html_safe, likes_path(rate_id: rate.id, review: @more_reviews), class: 'btn btn-like-comment', method: :post, remote: true %> 
            <% end %>
            <%= link_to "#{icon('comments-o', pluralize(rate.replies.count, t('.reply')))}".html_safe, new_reply_path(rate: rate.id, review: @more_reviews), class: 'btn btn-like-comment', remote: true %>
          </p>
        <% else %>
          <p>
            <%= link_to "#{icon('heart-o', pluralize(rate.likes.count, t('.like')))}".html_safe, new_user_session_path, class: 'btn btn-like-comment', method: :post, remote: true, disabled: true, data: { toggle: 'tooltip', placement: 'top', title: t('.signintolike')} %> 
            <%= link_to "#{icon('comments-o', pluralize(rate.replies.count, t('.reply')))}".html_safe, new_user_session_path, class: 'btn btn-like-comment', remote: true, disabled: true, data: { toggle: 'tooltip', placement: 'top', title: t('.signintoreply')} %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="media" style="padding: 0px 50px; margin: 0px;">
      <% puts "@@@@@@@@@@ #{@review_id.class}"%>
      <% if rate.replies.count > 3 %>
        <% if @all == "true" && @review_id.to_i == rate.id %>
          <%= link_to "#{t('.viewless')} #{icon('caret-up')}".html_safe, show_more_rating_path(@restaurant, rate_id: rate.id, more: false, review: @more_reviews), class: 'center-block text-center', style: 'width: 100%; background-color: whitesmoke; padding: 3px; color: #777777;', remote: true, method: :post %>
        <% else %>
          <%= link_to "#{t('.viewall')} (#{rate.replies.count - 3}) #{icon('caret-down')}".html_safe, show_more_rating_path(@restaurant, rate_id: rate.id, more: true, review: @more_reviews), class: 'center-block text-center', style: 'width: 100%; background-color: whitesmoke; padding: 3px; color: #777777;', remote: true, method: :post %>
        <% end %>
      <% end %>
    </div>
    <% if rate.replies.present? %>
      <% (@all == "true" && @review_id.to_i == rate.id ? rate.replies : rate.replies.last(3)).each do |reply| %>
        <div class="media" style="padding: 10px 50px 10px 53px; margin: 0px;">
          <div class="media-left">
            <div style="background: url('<%= asset_path(display_user(reply.user)) %>'); background-size: cover; background-position: center center; width: 40px; height: 40px;" class="img-circle"></div>
          </div>
          <div class="media-body" style="max-width: 565px;">
            <h5 class="media-heading">
              <%= reply.user.name %> <small> - <%= distance_of_time_in_words_to_now(reply.created_at) %> ago</small>
              <% if reply.user === current_user %>
                <span style="margin-left: 20px;">
                  <%= link_to "#{icon('trash')}".html_safe, reply_path(reply, rate: true), method: :delete, remote: true %>
                </span>
              <% end %>
            </h5>
            <p><%= reply.comment %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <div id="rating_reply_<%= rate.id %>" style="padding: 5px 20px;">
          
    </div>
  <% end %>
  <% if @restaurant.ratings.count > 5 %>
    <% if @more_reviews == "true" %>
<%= link_to t('.viewless'), show_more_reviews_path(@restaurant, more: false), class: 'center-block text-center', style: 'width: 100%; background-color: whitesmoke; padding: 10px; color: #777777;', remote: true, method: :post %>
    <% else %>
<%= link_to "#{t('.viewall')} (#{5 - @restaurant.ratings.count})", show_more_reviews_path(@restaurant, more: true), class: 'center-block text-center', style: 'width: 100%; background-color: whitesmoke; padding: 10px; color: #777777;', remote: true, method: :post %>
    <% end %>
  <% end %>
<% else %>
  <div style="height: 75px;">
    <h4><%= t('.noreviews')%></h4>
  </div>
<% end %>