<table class = 'table'>
	<th><%= link_to t('.rating'), ratings_path(:search_category => "Rating", :search_order => @order) %></th>
	<th><%= link_to t('.restaurant'), ratings_path(:search_category => "Restaurant", :search_order => @order) %></th>
	<th><%= link_to t('.user'), ratings_path(:search_category => "User", :search_order => @order) %></th>
	<th><%= t('.comment') %></th>
	
<% @ratings.each do |rating| %>
	<tr>
		<td><%= rating.rate %></td>
		<td><%= rating.restaurant.try(:name) %></td>
		<td><%= rating.user.name %></td>
		<td><%= rating.comment %></td>
	</tr>
<% end%>
</table>