
<% search_values = ['Rating', 'Restaurant', 'User']%>
<%= form_tag(ratings_path, :method => 'get') do %>
<%= t('.display')%> <%= select_tag "search_category", options_for_select(search_values) %> 
 <%= submit_tag t('.show') %>
 <% end %>
</span>

<table class = 'table'>
	<th><%= t('.rating')%></th>
	<th><%= t('.restaurant')%></th>
	<th><%= t('.user')%></th>
	<th><%= t('.comment')%></th>
	
<% @ratings.each do |rating| %>
	<tr>
		<td><%= rating.rate %></td>
		<td><%= rating.restaurant.try(:name) %></td>
		<td><%= rating.user.name %></td>
		<td><%= rating.comment %></td>
	</tr>
<% end%>
</table>