<table class = 'table'>
	<th><%= t('.username') %></th>
	<th><%= t('.name') %></th>
	<th><%= t('.email') %></th>
	<th><%= t('.location') %></th>
	<th><%= t('.profile_picture_url') %></th>
<% @users.each do |user| %>
	<tr>
		<td><%= user.username%></td>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<td><%= user.location %></td>
		<td><%= user.profile_picture_url %></td>
		<td><%= link_to t('.edit'), edit_user_path(user.id), method: :get%></td>
	</tr>
<% end%>
</table>