<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= t('.adddish')%></h4>
</div>
<div class="modal-body">
  <div id="food_alert_area">
  </div>
  <%= form_for(@food, url: foods_path(resto_id: @food.restaurant), remote: true) do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control', placeholder: t('.dishname'), required: true%>
    </div>
    <div class="form-group">
      <%= f.text_area :description, class: 'form-control', placeholder: t('.description')%>
    </div>
    <div class="form-group">
      <%= f.number_field :price, class: 'form-control', placeholder: t('.pricedish'), required: true, min: 1, step: 0.25%>
    </div>
    <div class="form-group">
      <%= f.select :cuisine_id, options_from_collection_for_select(Cuisine.all,'id','name'), { prompt: "Select a Cuisine"} ,class: 'form-control', required: true %>
    </div>
    <div class="actions">
      <%= f.submit t('.submitdish'), class: 'btn btn-danger', style: 'width: 100%;' %>
    </div>
  
  <% end %>
</div>

