<h3><%= t('.pending')%></h3>

<% if !@restos_pending.empty? %>
	<table class = 'table'>
		<th><%= t('.name')%></th>
		<th><%= t('.description')%></th>
		<th><%= t('.address')%></th>
		<th><%= t('.contact')%></th>
		<th><%= t('.pricerange')%></th>
		<th><%= t('.map')%></th>
	<% @restos_pending.each do |resto| %>
		<tr>
			<td><%= resto.name%></td>
			<td><%= resto.description %></td>
			<td><%= resto.address %></td>
			<td><%= resto.contact%></td>
			<td><%= resto.low_price_range %> - <%= resto.high_price_range %> </td>
			<td><%= resto.map %></td>
			<td><%= link_to 'Edit', edit_restaurant_path(resto.id), method: :get%></td>
			<td><%= link_to 'Accept', restaurant_path(resto.id, restaurant: { status: 'Accepted' }),
				 method: :put%></td>
			<td><%= link_to 'Reject', restaurant_reject_path(resto.id), method: :get%></td>
		</tr>
	<% end%>
	</table>
<% else %>
	<%= t('.nopending')%>
<% end%>

</br><h3> <%= t('.accepted')%></h3>

<% if !@restos_accepted.empty? %>
	<table class = 'table'>
		<th><%= t('.name')%></th>
		<th><%= t('.description')%></th>
		<th><%= t('.address')%></th>
		<th><%= t('.contact')%></th>
		<th><%= t('.pricerange')%></th>
		<th><%= t('.map')%></th>
	<% @restos_accepted.each do |resto| %>
		<tr>
			<td><%= resto.name%></td>
			<td><%= resto.description %></td>
			<td><%= resto.address %></td>
			<td><%= resto.contact%></td>
			<td><%= resto.low_price_range %> - <%= resto.high_price_range %> </td>
			<td><%= resto.map %></td>
			<td><%= link_to 'Edit', edit_restaurant_path(resto.id), method: :get%></td>
		</tr>
	<% end%>
	</table>
<% else %>
	<%= t('.noaccepted')%>
<% end%>


</br><h3><%= t('.rejected')%></h3>


<% if !@restos_rejected.empty? %>
	<table class = 'table'>
		<th><%= t('.name')%></th>
		<th><%= t('.description')%></th>
		<th><%= t('.address')%></th>
		<th><%= t('.contact')%></th>
		<th><%= t('.pricerange')%></th>
		<th><%= t('.map')%></th>
	<% @restos_rejected.each do |resto| %>
		<tr>
			<td><%= resto.name%></td>
			<td><%= resto.description %></td>
			<td><%= resto.address %></td>
			<td><%= resto.contact%></td>
			<td><%= resto.low_price_range %> - <%= resto.high_price_range %> </td>
			<td><%= resto.map %></td>
			<td><%= link_to 'Edit', edit_restaurant_path(resto.id), method: :get%></td>
		</tr>
	<% end%>
	</table>
<% else %>
	<%= t('.norejected')%>
<% end%>
