
<%= t('.rejecttitle', resto: @restaurant.name )%>

<%= form_tag(restaurant_path(@restaurant.id, restaurant: { status: t('.rejectstatus') }), method: :put) do |f| %>
   <div class="form-group">
	  <%= label_tag :message, t('.message') %><br/>
      <%= text_area_tag :message, nil, rows: 10, cols: 20, required: true %>
   </div>
   <div class="actions">
      <%= submit_tag t('.submitletter') %>
   </div>
<% end %>