<div class="container" style="width: 50%;">
  <div class="jumbotron" style="margin-top: 0px; background-color: whitesmoke;">
    
    <h1 class="text-center">Fudz Finder</h1>
    <p class="text-center" style="color: #9c9c9c;"><%= t('.caption')%></p>
    <div style='text-align: center;'>
      <%= form_tag(restaurant_search_path, method: :get, id: 'search_form') do %>
        <div class="input-group" style="">
          <%= text_field_tag :searchQuery, nil, class: "form-control", placeholder: 'Search for food/restaurants/cuisines...', id: 'search_field', value: "#{@searchQuery}" %>    
          <span class="input-group-btn">
            <%= submit_tag t('.go'), class: "btn btn-default"%>
                <!-- <button class="btn btn-default" type="button">Go!</button> -->
          </span>
        </div>
      <% end %>
        <div class="row search" style="margin-top: 10px;">
          <div class="col-md-12">
            <div class="dropdown">
              <%= link_to "Search tools#{icon('caret-down', style: 'margin-left: 10px;')}".html_safe, nil, class: 'dropdown-toggle', data: { toggle: 'dropdown'} %>
              <ul class="dropdown-menu" style="width: 100%;">
                <% unless Food.all.empty? %>
                  <%= form_tag(restaurant_search_path, method: :get, style: 'padding: 20px;', id: 'filter_search_form') do %>
                    <div class="form-group">
                      <%= select_tag :cuisine, options_from_collection_for_select(Cuisine.all,"id","name"), prompt: 'Select a Cuisine', class: 'form-control' %>
                    </div>
                    Filter by price range:
                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <b>PHP <%= Food.min %></b> 
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <input id="price_slider" name= "price_range" type="text" class="span2" value="" data-slider-min="<%= Food.min %>" data-slider-max="<%= Food.max %>" data-slider-step="5" data-slider-value="[<%= Food.min %>,<%= Food.max %>]"/> 
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <b class="pull-right">PHP <%= Food.max %></b>
                      </div>
                    </div>
                    <%= hidden_field_tag :searchQuery, '', id: 'filter_search_field' %>
                    <div class="actions" style="margin-top: 20px;">
                      <%= submit_tag 'Search', class: 'btn btn-default', style: 'width: 100%;', id: 'filter_search_button'%>
                    </div>
                  <% end %>
                <% else %>
                  <h4 class="text-center" style='padding: 20px;'>No available dishes/restaurants yet.</h4>
                <% end%>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading" style="background: #fff;">
        <h3 class="panel-title">Filters</h3>
      </div>
      <div class="panel-body">
        <p>Sort by</p>
        <ul class="list-unstyled filters">
          <li class="<%= filter_active_class(restaurant_search_path(searchQuery: @searchQuery, price_range: (@price_range.nil? ? nil : @price_range )), @main_active)%>"><%= link_to "Ratings - <small>High to low</small>".html_safe, restaurant_search_path(searchQuery: @searchQuery, price_range: (@price_range.nil? ? nil : @price_range )) %></li>
          <li class="<%= filter_active_class(restaurant_search_path(searchQuery: @searchQuery, sort: 'name', price_range: (@price_range.nil? ? nil : @price_range ))) %>"><%= link_to "Name - <small>Alphabetical Order</small>".html_safe, restaurant_search_path(searchQuery: @searchQuery, sort: 'name', price_range: (@price_range.nil? ? nil : @price_range )) %></li>
          <li class="<%= filter_active_class(restaurant_search_path(searchQuery: @searchQuery, sort: 'price_low_to_high', price_range: (@price_range.nil? ? nil : @price_range ))) %>"><%= link_to "Price - <small>Low to high</small>".html_safe, restaurant_search_path(searchQuery: @searchQuery, sort: 'price_low_to_high', price_range: (@price_range.nil? ? nil : @price_range )) %></li>
          <li class="<%= filter_active_class(restaurant_search_path(searchQuery: @searchQuery, sort: 'price_high_to_low', price_range: (@price_range.nil? ? nil : @price_range ))) %>"><%= link_to "Price - <small>High to low</small>".html_safe, restaurant_search_path(searchQuery: @searchQuery, sort: 'price_high_to_low', price_range: (@price_range.nil? ? nil : @price_range )) %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9 search_result">
    <% unless @result.empty? %>
      <div class="list-group">
        <% @result.each do |resto| %>
          <%= link_to resto, class: "list-group-item", style: "margin-bottom: 10px; height: 175px; padding: 0px;" do %>
            <div class="row">
              <div class="col-md-3 col-sm-5 col-xs-5">
                <div class="clearfix" style="background-image: url('<%= asset_path(display_resto(resto))%>'); background-repeat: repeat; height: 175px; width: 96%; background-position: center;"></div>
              </div>
              <div class="col-md-9" style="padding: 20px;">
                <div class="pull-left">
                  <h3 class="list-group-item-heading"><%= resto.name %></h3>
                  <p class="list-group-item-text"><%= resto.description %></p>
                  <p class="list-group-item-text" style="margin-top: 20px;"><%= icon('map-marker', resto.address, style: 'margin-right: 12px;') %></p>
                  <p class="list-group-item-text" style="margin-top: 10px;"><%= icon('phone', resto.contact, style: 'margin-right: 10px;') %></p>
                </div>
                <div class="pull-right" style="margin-right: 10px;">
                  <% unless resto.ave_ratings == 0 %>
                    <span style="padding: 7px; font-size: 20px; border-radius: 0; background-color: #333333;" class="label label-default"><%= resto.ave_ratings %></span>
                  <% end %>
                </div>

              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <h3 class="text-center">No Results Found!</h3>  
    <% end %>
  </div>
  
  
</div>


