
<div class="container" style="max-width: 750px; padding: 0;">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.description %></p>
</div>
<div class="container resto-container">
  <div class="row clearfix" style="margin-bottom: 20px;">
    <div class="pull-left" style="height: 250px;">
      <% unless @restaurant.map.empty? %>
        <%= @restaurant.try(:map).html_safe %>
      <% else %>
        <h5 style="padding: 100px 0 20px 80px">Map Not Available</h5>
      <% end %>
    </div>
    <div class="pull-right">
      <%= image_tag(@restaurant.cover.url, width: '500', height: '250', class: 'img-responsive', style: 'margin-bottom: 10px;') %>
    </div>
    
    
    <div class="col-md-12" style="border-bottom: 2px solid #d9d9d9;">
      <div class="row" style="padding: 10px 20px 20px 20px;">
        <div class="col-md-4">
          <%= icon('phone', @restaurant.contact, style: 'margin-right: 10px;') %>
        </div>
        <div class="col-md-8">
          <% unless @restaurant.website.empty? %>
            <%= link_to @restaurant.website, "http://#{@restaurant.website}" %>
          <% else %>
            No website available
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <h3 style=" color: #676767; padding-bottom: 10px;"><%= icon('cutlery', 'Menu', style: 'margin-right: 10px;')%></h3>
  <div class="row" style="margin-bottom: 30px;">
    <% @restaurant.foods.each_with_index do |food, index| %>
      <div class="col-md-1" style="height: 50px;">
        <span style="font-size: 30px;"><%= index+1 %></span>
      </div>
      <div class="col-md-9" style="height: 50px;">
        <h3 style="margin: 0;"><%= food.name %></h3>
        <p><%= food.description %></p>
      </div>
      <div class="col-md-2" style="height: 50px; padding: 5px; margin-bottom: 20px;">
        <div class="pull-right" style="margin-right: 10px; margin-top: 5px;">
          <span style="padding: 7px; font-size: 15px; border-radius: 0; background-color: #333333;" class="label label-default">P <%= food.price %></span>
        </div>
        
      </div>
    <% end %>
  </div>
  <h3 style=" color: #676767; padding-bottom: 10px;"><%= icon('picture-o', pluralize(@restaurant.pictures.where(status: true).count,"Photo"), style: 'margin-right: 8px;')%></h3>
  
  <div id="picture-part">
    <div class="row pic-row" style="">
      <% unless @restaurant.pictures.empty? %>
        <% @restaurant.pictures.where(status: true).each do |picture| %>
          <div class="col-md-3" style="margin-bottom: 10px;">
            <%= link_to picture_path(picture), remote: true, data: { toggle: 'modal', target: '#myModal'} do %>
            <%= image_tag(picture.pic.url, class: 'img-responsive center-block', style: 'width: 100%; height: auto;')%>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="col-md-3">
        <div class="fileUpload btn btn-default btn-add-pic" style="width: 157px; height: 150px;">
          <span><%= icon('plus', "<br>#{'Add images' if user_signed_in? }#{'Sign in to add images' unless user_signed_in? }".html_safe, style: '')%></span>
          <%= form_for(@picture) do |f| %> 
            <% if user_signed_in? %>
              <%= f.file_field :pic, class: 'upload', style: 'height: 150px' %>
            <% else %>
              <%= f.file_field :pic, class: 'upload', style: 'height: 150px', disabled: 'disabled' %>
            <% end %>
            <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <h3 style=" color: #676767; padding-bottom: 10px;"><%= icon('star', "#{pluralize(@restaurant.ratings.count, 'Review')}", style: 'margin-right: 8px;')%></h3>
  
  <% unless @restaurant.ratings.empty? %>
    <% @restaurant.ratings.each do |rate| %>
      <div class="media" style="padding: 10px; margin-bottom: 10px;">
        <div class="media-left" style="padding: 0 25px 10px 10px;">
          <%= image_tag(rate.user.avatar.url, width: 64, height: 64, class: 'img-circle') %>
        </div>
        <div class="media-body" style="">
          <h4 class="media-heading">
            <%= rate.user.name %> 
            <small>
              <% rate.rate.times do %>
                <%= icon('star')%>
              <% end %>
              <% (5-rate.rate).times do %>
                <%= icon('star-o')%>
              <% end %>
              <% if current_user === rate.user %>
                <%= link_to "#{icon('pencil', nil, style: 'margin-left: 20px;')}".html_safe, edit_rating_path(rate), remote: true, data: { toggle: 'modal', target: '#myModal'} %>
              <% end %>
            </small>
          </h4>
          <p><%= rate.comment %></p>
          <p><%= distance_of_time_in_words_to_now(rate.created_at) %> ago</p>
        </div>
      </div>
    <% end %>
  <% else %>
    <div style="height: 75px;">
      <h4>No Reviews yet.</h4>
    </div>
  <% end %>
  
  <% if user_signed_in? %>
    <% unless @restaurant.ratings.find_by(user_id: current_user.id) || @restaurant.user === current_user %>
      <div style="margin-bottom: 20px;">
        <button class="btn btn-default btn-hide-click" data-toggle="collapse" data-target="#review_part" style="width: 100%; height: 50px; padding: 14px;">Write a Review</button>
      </div>
    <% end %>
  <% else %>
    <div style="margin-bottom: 20px;">
      <button class="btn btn-default" disabled="disabled" data-toggle="collapse" data-target="#review_part" style="width: 100%; height: 50px; padding: 14px;">Sign in to write a review</button>
    </div>
  <% end %>
  
  
  <div id="review_part" class="collapse" style="margin-bottom: 20px;">
    
    <h3 style=" color: #676767; padding-bottom: 10px;"><%= icon('pencil', 'Rate This Restaurant', style: 'margin-right: 8px;')%></h3>
    <%= form_for(@rating) do |f| %>
      <div class="">
        <fieldset class="rating">
          <%= f.radio_button :rate, 5, id: 'star5' %>
          <%= label_tag :star5, "", class: 'full', title: '5 Stars' %>
          <%= f.radio_button :rate, 4, id: 'star4'  %>
          <%= label_tag :star4, "", class: 'full', title: '4 Stars' %>
          <%= f.radio_button :rate, 3, id: 'star3'  %>
          <%= label_tag :star3, "", class: 'full', title: '3 Stars' %>
          <%= f.radio_button :rate, 2, id: 'star2'  %>
          <%= label_tag :star2, "", class: 'full', title: '2 Stars' %>
          <%= f.radio_button :rate, 1, id: 'star1'  %>
          <%= label_tag :star1, "", class: 'full', title: '1 Star' %>
        </fieldset>
      </div>
      
      <div class="form-group">
        <%= f.text_area :comment, class: 'form-control', rows: 7, placeholder: 'Comment' %>
      </div>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
      <div class="actions">
        <%= f.submit "Add Review", class: 'btn btn-default' %>
      </div>
    <% end %>

  </div>
  
</div>
