<% if @restaurant.posts.present? %>
  <% @restaurant.posts.order('created_at desc').limit(3).each do |post| %>
    <div class="media" style="padding: 10px; margin: 0px;">
      <div class="media-left">
        <div style="background: url('<%= asset_path(display_resto(post.restaurant)) %>'); background-size: cover; background-position: center center; width: 44px; height: 44px;" class="img-circle"></div>
      </div>
      <div class="media-body" style="max-width: 575px;">
        <h4 class="media-heading">
          <%= post.restaurant.name %> <small> - <%= distance_of_time_in_words_to_now(post.created_at) %> ago</small>
        </h4>
        <p><%= post.comment %></p>
        <% if user_signed_in? %>
          <p>
            <% if post.user_liked?(current_user) %>
              <%= link_to "#{t('.unlike')} #{icon('heart-o', pluralize(post.likes.count, t('.like')))}".html_safe, delete_like_path(user: current_user.id, post: post.id), class: 'btn btn-like-comment', method: :delete, remote: true %> 
            <% else %>
              <%= link_to "#{icon('heart-o', pluralize(post.likes.count, t('.like')))}".html_safe, likes_path(post_id: post.id), class: 'btn btn-like-comment', method: :post, remote: true %> 
            <% end %>
            <%= link_to "#{icon('comments-o', pluralize(post.replies.count, t('.reply')))}".html_safe, new_reply_path(post: post.id), class: 'btn btn-like-comment', remote: true %>
          </p>
        <% else %>
          <p>
            <%= link_to "#{icon('heart-o', pluralize(post.likes.count, 'Like'))}".html_safe, new_user_session_path, class: 'btn btn-like-comment', method: :post, remote: true, disabled: true, data: { toggle: 'tooltip', placement: 'top', title: t('.signintolike') } %> 
            <%= link_to "#{icon('comments-o', pluralize(post.replies.count, 'Reply'))}".html_safe, new_user_session_path, class: 'btn btn-like-comment', remote: true, disabled: true, data: {toggle: 'tooltip', placement: 'top', title: t('.signintoreply') } %>
          </p>
        <% end %>
        
      </div>
    </div>
    <div class="media" style="padding: 0px 50px; margin: 0px;">
      <% if post.replies.count > 3 %>
        <% if @all == "true" && @post_id.to_i == post.id %>
          <%= link_to "#{t('.viewless')} #{icon('caret-up')}".html_safe, show_more_post_path(@restaurant, more: false, post_id: post.id), class: 'center-block text-center', style: 'width: 100%; background-color: whitesmoke; padding: 3px; color: #777777;', remote: true, method: :post %>
        <% else %>
          <%= link_to "#{t('.viewall')} (#{post.replies.count - 3}) #{icon('caret-down')}".html_safe, show_more_post_path(@restaurant, more: true, post_id: post.id), class: 'center-block text-center', style: 'width: 100%; background-color: whitesmoke; padding: 3px; color: #777777;', remote: true, method: :post %>
        <% end %>
      <% end %>
    </div>
    <% if post.replies.present? %>
      <% (@all == "true" && @post_id.to_i == post.id ? post.replies : post.replies.last(3)).each do |reply| %>
        <div class="media" style="padding: 10px 50px 10px 63px; margin: 0px;">
          <div class="media-left">
            <div style="background: url('<%= asset_path(display_user(reply.user)) %>'); background-size: cover; background-position: center center; width: 40px; height: 40px;" class="img-circle"></div>
          </div>
          <div class="media-body" style="max-width: 565px;">
            <h5 class="media-heading">
              <%= reply.user.name %> <small> - <%= distance_of_time_in_words_to_now(reply.created_at) %> ago</small>
              <% if reply.user === current_user %>
                <span style="margin-left: 20px;">
                  <%= link_to "#{icon('trash')}".html_safe, reply_path(reply, post: true), method: :delete, remote: true %>
                </span>
              <% end %>
            </h5>
            <p><%= reply.comment %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <div id="post_reply_<%= post.id %>" style="padding: 5px 20px;">
          
    </div>
  <% end %>
<% end %>