<!DOCTYPE html>
<html>
<head>
  <title>Fudz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  
</head>
<body>

<div id = 'wrap'>
  <nav id="top-nav" class="navbar navbar-default" style="margin-bottom: 0px;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 		data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Fudz', home_path, class: 'navbar-brand'%>
      </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to t('.home'), home_path %></li>
		  <li><%= link_to t('.about'), about_page_path %></li>
		  <li><%= link_to t('.contact'), contact_page_path %></li>
 
        </ul>
        <ul class="nav navbar-nav navbar-right">
		  
		  <ul class="nav navbar-nav navbar-right">
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		            <%= t('.language') %>
		            <span class="caret"></span>
		        </a>
		      <ul class="dropdown-menu" role="menu">
				<% locale_name_pairs.each do |locale|%>
		        <li>
		           <%= link_to locale[0], change_locale_path(locale[1].to_sym) %>
		        </li>
				<% end %>
		      </ul>
		      </li>
		  </ul>
			
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 						  aria-expanded="false" style="height: 100%;">
				  <%= icon('user', current_user.name, style: 'margin-right: 5px;') %>
				  <%= icon('chevron-down', style: 'margin-left: 5px;') %></a>
              <ul id="dropdown-menu" class="dropdown-menu">
		        <% if user_signed_in? %>
					 <% if current_user.admin?%>
                	 	<li><%= link_to "My Admin", admin_root_path %></li>
					 <% end%>
				<% end%>  
				
                <li><%= link_to t('.myprofile'), user_profile_path(current_user.id) %></li>
				
                <% if current_user.restaurants.present? %>
                  	 <li><%= link_to t('.myrestaurants'), users_restaurant_path %></li>
                <% end %>
				
               	<li><%= link_to t('.signout'), destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t('.login'), new_user_session_path %></li>
            <li><%= link_to t('.signup'), new_user_registration_path %></li>
          <% end %>


        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
	<% if Restaurant.where(status: 'pending').count > 0 %>
		<% if user_signed_in?%>
			<% if current_user.admin? %>
				<div class = 'panel'>
	
	<%=  t('.notice', n: Restaurant.where(status: 'pending').count) %>
 	
				</div>
			<%end%>
		<%end%>
	<%end%>

<% if success %>
   <div class="alert alert-success alert-dismissible" role="alert">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	    <%= success.html_safe %>
   </div>
<% end %>

<% if failure %>
   <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
        <%= failure.html_safe %>
   </div>
<% end %>

<% if notice %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
	  </button>
      <%= notice.html_safe %>
    </div>
<% end %>

<%= yield %>
<div id="push"></div>
<div id = 'footer'>
  <div class="container" style="padding-top: 25px;">
	<div class = 'row'>
		<div class = 'col-lg-9 col-md-9 col-xs-9 col-sm-9'>
			<div class = 'col-lg-2 col-md-2 col-xs-2 col-sm-2'>&copy;Soolfie</div>
			<div class = 'col-lg-2 col-md-2 col-xs-2 col-sm-2'>
				<%= link_to t('.about'), about_page_path %>
			</div>
			<div class = 'col-lg-2 col-md-2 col-xs-2 col-sm-2'>
				<%= link_to t('.contact'), contact_page_path %>
			</div>	
			<div class = 'col-lg-2 col-md-2 col-xs-2 col-sm-2'>
				<%= link_to "Get Started", new_restaurant_path %>
			</div>
		</div>
		<div class = 'col-lg-3 col-md-3 col-xs-3 col-sm-3'>
			<%= link_to "#{icon('twitter')}".html_safe, "https://www.twitter.com", style: "font-size:24px; color: #55acee; margin-right: 30px;"%>
			<%= link_to "#{icon('facebook')}".html_safe, "https://www.facebook.com", style: "font-size:24px; color: #4c66a4; margin-right: 30px;" %>
			<%= link_to "#{icon('instagram')}".html_safe, "https://www.instagram.com", style: "font-size:24px; color: #3f729b; margin-right: 30px;" %>
			<%= link_to "#{icon('youtube-play')}".html_safe, "https://www.youtube.com", style:"font-size:24px; color: #e52d27; margin-right: 30px;" %>
		</div>
	</div>  
	
 </div>
</div>
</div>
  
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div id="show-modal" class="modal-content">
      ...
    </div>
  </div>
</div>
   
</body>
</html>
